@media print {
    * {
        overflow: visible !important;
    }

    [class='dark'] {
        background-color: white;
    }

    ::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .invoice {
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 0%;
        padding: 0%;
    }

    .side-nav,
    .header,
    .display-invoice,
    .invoice-head,
    .invoice-btn {
        display: none;
    }
}