.display-invoice {
    display: block;
}

.print-invoice {
    display: none;
}

/* .side-nav {
    display: block;
    position: relative;
}

.header {
    display: block;
} */




/*------------------------------------------------
                Print Function
------------------------------------------------*/




@media print {
    * {
        overflow: visible !important;
    }

    [class='dark'] {
        background-color: white;
    }

    .display-invoice {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .print-invoice {
        display: block;
        height: 100vh;
        width: 100vw;
    }

    .side-nav {
        display: none;
    }

    .header {
        display: none;
    }
}