@import "tailwindcss";
@plugin "daisyui";

/*--------------------------- For Dark Mode -------------------------------*/
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:where(.dark, .dark *));


.dark {
    background-color: #151515;
}

.light {
    background-color: white;
}



/* -------------------------------------------------------------------
                    Tag Input Related Styles.
--------------------------------------------------------------------*/



.react-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.react-tags__selected {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

.react-tags__selected-tag {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 5px 8px;
    margin: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.react-tags__selected-tag:hover {
    background-color: #0056b3;
}

.react-tags__suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.react-tags__search-input {
    width: auto;
    outline: none;
    border: none;
}